# ==============================================================================
# JEDPA 2026 - Configuración de Producción para cPanel (Subdominio)
# ==============================================================================

APP_NAME="JEDPA 2026 Macroregional"
APP_ENV=production
APP_KEY=base64:iB7YaC5FEZNyNEBzFVqMLbc/w2qs/ajOxCc9ERoGxkU=
APP_DEBUG=false
APP_URL=https://deportes.tudominio.gob.pe

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

# Base de datos MySQL en cPanel (Host usualmente localhost o 127.0.0.1)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nombrecpanel_macroregional
DB_USERNAME=nombrecpanel_usuario
DB_PASSWORD=ContrasenaSegura_2026!

# Sesiones y Caché en Base de Datos para máximo rendimiento en hosting compartido
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=sync

LOG_CHANNEL=daily
LOG_LEVEL=error

FILESYSTEM_DISK=local
BCRYPT_ROUNDS=12
